.data{
	opacity: 0.9;
	font-size: 18px;
}

.my_photo{
	width: 520px;
	border-radius: 50px;
	float: right;
	transform:scale(1);
	transition:2s all;
}

.my_photo:hover{
	transform:rotate(45deg) scale(2);
}

.image_socnet{
	width: 30px;
	border-radius: 50%;
}

.socnet{
	font-size: 16px;
}

progress{
	width: 300px;
	height: 20px;
	opacity: 0.9;
	-webkit-appearance: none;
	appearance: none;
}

progress::-webkit-progress-bar{
	background: #b4bcc2;
	border-radius: 2px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8) inset;
}

progress::-webkit-progress-value{
	background: #128ce3;
	border-radius: 2px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3) inset;

}

progress::-moz-progress-ber{
	color: #000000;
	background: #ffffff;
}

span{
	font-size: 16px;
}

.size{
	font-size: 16px;
}

hr{
	border:none;
	background:maroon;
	height:2px;
}

b{
	font-size: 20px;
}

h1{
	text-align: left;
}

h2{
	text-align: center;
}

body{
	background-image: url(image/1.jpg);

}

.bormap{
	float: left;
}

.borform{
	padding: 5px;
	float: right;
	border: 1px solid #547587;
	background-color: #6c9fba;
	border-radius: 20px;
	color: #ffffff;
	box-shadow: 2px 2px 10px #000000;
}

.clear{
	clear: left;
}

.submit{
	background-color: #128ce3;
	padding: 20px;
	border-radius: 5px;
	cursor: pointer;
	color: #ffffff;
	margin: 10px;
	font-weight: bold;
}

.submit:hover{
	background-color: #2277b5;
}

textarea{
	height: 100px;
}

input, textarea{
	margin-bottom: 10px;
	font-size: 18px;
	padding: 15px 10px;
	border: 1px solid #cecece;
	background-color: #efefef;
	color: #2b2828;
	border-radius: 5px;
	width: 610px;
}

.map{
	padding: 1px;
	width: 630px;
	height: 430px;
	border: 1px solid #547587;
	background-color: #6c9fba;
	border-radius: 20px;
	color: #ffffff;
	box-shadow: 2px 2px 10px #000000;
}

.weather{
	float: center;
	width: 400px;
	height: 200px;
	padding: 5px;
	margin: 5px;
	border: 1px solid #547587;
	background-color: #bad5e3;
	box-shadow: 2px 2px 10px #000000;
}
