.socnet{
	font-size: 16px;
}

span{
	font-size: 14px;
}

.size{
	font-size: 16px;
}

hr{
	border:none;
	background:maroon;
	height:2px;
}

b{
	font-size: 20px;
}

h1{
	text-align: left;
}

body{
	background-image: url(image/1.jpg);

}

em{
	opacity: 0.7;
}

img{
	width: 380px;
	border-radius: 50px;
	float: right;
	transform:scale(1);
	transition:2s all;

}

img:hover{
	transform:rotate(45deg) scale(2);
}

.map{
	width:1080px;
	height:450px;
	border:0;
}
